* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
    flex-direction: column;
    background-color: #136a7d;
}

.tip {
    font-style: italic;
    font-weight: bold;
    margin: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.metronome {
    display: flex;
    width: 350px;
    height: 400px;
    position: relative;
}

.background-left {
    border-bottom: 400px solid #e07a5f;
    border-left: 100px solid transparent;
}

.background-center {
    flex: 1;
    background-color: #f2cc8f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-right {
    border-bottom: 400px solid #e07a5f;
    border-right: 100px solid transparent;
}

.core {
    flex: 1;
    width: 30%;
    background-color: #f4f1de;
    margin: 24px 0;
    border: 6px dashed #e07a5f;
}

@keyframes tick {
    0%   { transform: rotate(-30deg); }
    50%  { transform: rotate(30deg);  }
    100% { transform: rotate(-30deg); }
}

.arm {
    height: 300px;
    width: 20px;
    background-color: #3d405b;
    position: absolute;
    bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 165px;
    transform-origin: bottom center;
    animation: tick 1200ms ease-in-out infinite;
}

#column-1{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#column-2{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#column-3{
    display: flex;
    align-self: right;
    justify-content: right;
    flex-direction: column;
    text-align: center;
}

/* 
.box {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    position: relative;
    /* animation-name: box;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-delay: 2s; */
    /* animation: box 4s infinite 2s; */
    /*short hand version in line 16 for lines 12-15*/
    /* animation-timing-function: ease-out; */
/* }

@keyframes box{

    0%{background-color: aquamarine; left:0; top:0;
     }
    
    25%{background-color: greenyellow; left:500px; top:0;
        border-radius: 25% 25% 25% 25%; }

    50%{background-color: gold; left:500px; top:500px;
        border-radius: 40% 40% 40% 40%; }

    75%{background-color: salmon; left:0px; top:500px;
        border-radius: 90% 90% 90% 90%; }

    100%{background-color: aquamarine; left:0; top:0; 
       }
    
/* } */ 