@font-face {
    font-family: "Alice", serif ;
    font-family: "Rubik", sans-serif ;
    src: url(https://fonts.googleapis.com/css2?family=Alice&family=Rubik&display=swap);
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
    flex-direction: column;
    background-color: black;
}

h1 {
    font-family: 'Rubik' , sans-serif;
    font-size: 60px;
    color: silver;
}

.tip {
    font-weight: bold;
    margin: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   color: silver;
}

#content{
    color:silver;
    font-size: 25px;;
}

#checkboxes{
    color: silver;
    display: flex;
    grid-template-columns: ;
}

#square-dance{
 display: flex;
    flex-direction: row;
}

.square-one{
    height:150px;
    width:150px;
    background-color: rgb(186, 12, 12);
    cursor: pointer;
    
}
.square-one:hover{
    box-shadow: 0 0 10px red;
}

.square-two{
    height:150px;
    width:150px;
    background-color: rgb(224, 156, 32);
    cursor: pointer;
}
.square-two:hover{
    box-shadow: 0 0 10px orange;
}


.square-three{
    height:150px;
    width:150px;
    background-color: gold;
    cursor: pointer;
}
.square-three:hover{
    box-shadow: 0 0 10px yellow;
}

.square-four{
    height:150px;
    width:150px;
    background-color: green;
    cursor: pointer;
}
.square-four:hover{
    box-shadow: 0 0 10px greenyellow;
}


.square-five{
    height:150px;
    width:150px;
    background-color: blue;
    cursor: pointer;
}
.square-five:hover{
    box-shadow: 0 0 10px turquoise;
}


.square-six{
    height:150px;
    width:150px;
    background-color: purple;
    cursor: pointer;
}
.square-six:hover{
    box-shadow: 0 0 10px blueviolet;
}

.square-seven{
    height:150px;
    width:150px;
    background-color: floralwhite;
    cursor: pointer;
}
.square-seven:hover{
    box-shadow: 0 0 10px hotpink;
}


/* .metronome {
    display: flex;
    width: 350px;
    height: 400px;
    position: relative;
} */

/* .background-left {
    border-bottom: 400px solid #e07a5f;
    border-left: 100px solid transparent;
}

.background-center {
    flex: 1;
    background-color: #f2cc8f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-right {
    border-bottom: 400px solid #e07a5f;
    border-right: 100px solid transparent;
}

.core {
    flex: 1;
    width: 30%;
    background-color: #f4f1de;
    margin: 24px 0;
    border: 6px dashed #e07a5f;
}

@keyframes tick {
    0%   { transform: rotate(-30deg); }
    50%  { transform: rotate(30deg);  }
    100% { transform: rotate(-30deg); }
}

.arm {
    height: 300px;
    width: 20px;
    background-color: #3d405b;
    position: absolute;
    bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 165px;
    transform-origin: bottom center;
    animation: tick 1200ms ease-in-out infinite;
} */

/* 
.box {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    position: relative;
    /* animation-name: box;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-delay: 2s; */
    /* animation: box 4s infinite 2s; */
    /*short hand version in line 16 for lines 12-15*/
    /* animation-timing-function: ease-out; */
/* }


/*  */

@keyframes square-dance {

    100% {
        transform: rotate(360deg);
    }

    }